@import "fonts";
@import "colors";
@import "mixins";

body {
    background-color: $backgroundColorMain;
    color: $lightText;
}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;

    h1 {
        margin-bottom: 30px;
        text-align: center;
    }

    #boardContainer1, #boardContainer2, #boardContainer3, #boardContainer4, #boardContainer5 {
        display: flex;
        justify-content: center;
    
        .board-tile {
            width: 150px;
            height: 100px;
            background-color: darkgray;
        
            h2 {
                text-align: center;
                line-height: 100px;
            }
        }
        
        .board-tile-Odd {
            width: 150px;
            height: 100px;
            background-color: black;
        }
    }
}



footer {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: $black;
}